**å¤ä¹ ï¼š**æ•°æ®åˆ†æçš„ç¬¬ä¸€æ­¥ï¼ŒåŠ è½½æ•°æ®æˆ‘ä»¬å·²ç»å­¦ä¹ å®Œæ¯•äº†ã€‚å½“æ•°æ®å±•ç°åœ¨æˆ‘ä»¬é¢å‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬æ‰€è¦åšçš„ç¬¬ä¸€æ­¥å°±æ˜¯è®¤è¯†ä»–ï¼Œä»Šå¤©æˆ‘ä»¬è¦å­¦ä¹ çš„å°±æ˜¯**äº†è§£å­—æ®µå«ä¹‰ä»¥åŠåˆæ­¥è§‚å¯Ÿæ•°æ®**ã€‚

## 1 ç¬¬ä¸€ç« ï¼šæ•°æ®è½½å…¥åŠåˆæ­¥è§‚å¯Ÿ

### 1.4 çŸ¥é“ä½ çš„æ•°æ®å«ä»€ä¹ˆ
æˆ‘ä»¬å­¦ä¹ pandasçš„åŸºç¡€æ“ä½œï¼Œé‚£ä¹ˆä¸Šä¸€èŠ‚é€šè¿‡pandasåŠ è½½ä¹‹åçš„æ•°æ®ï¼Œå…¶æ•°æ®ç±»å‹æ˜¯ä»€ä¹ˆå‘¢ï¼Ÿ

**å¼€å§‹å‰å¯¼å…¥numpyå’Œpandas**

In [1]:
import numpy as np
import pandas as pd

#### 1.4.1 ä»»åŠ¡ä¸€ï¼špandasä¸­æœ‰ä¸¤ä¸ªæ•°æ®ç±»å‹DateFrameå’ŒSeriesï¼Œé€šè¿‡æŸ¥æ‰¾ç®€å•äº†è§£ä»–ä»¬ã€‚ç„¶åè‡ªå·±å†™ä¸€ä¸ªå…³äºè¿™ä¸¤ä¸ªæ•°æ®ç±»å‹çš„å°ä¾‹å­ğŸŒ°[å¼€æ”¾é¢˜]

In [2]:
#å†™å…¥ä»£ç

In [3]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

"\n#æˆ‘ä»¬ä¸¾çš„ä¾‹å­\nsdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}\nexample_1 = pd.Series(sdata)\nexample_1\n"

In [4]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

"\n#æˆ‘ä»¬ä¸¾çš„ä¾‹å­\ndata = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],\n        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}\nexample_2 = pd.DataFrame(data)\nexample_2\n"

#### 1.4.2 ä»»åŠ¡äºŒï¼šæ ¹æ®ä¸ŠèŠ‚è¯¾çš„æ–¹æ³•è½½å…¥"train.csv"æ–‡ä»¶

In [5]:
#å†™å…¥ä»£ç 
import os
cwd = os.getcwd()
#print(cwd)
df = pd.read_csv(cwd+"/train_chinese.csv")
df.head()

,ä¹˜å®¢ID,æ˜¯å¦å¹¸å­˜,ä»“ä½ç­‰çº§,å§“å,æ€§åˆ«,å¹´é¾„,å…„å¼Ÿå§å¦¹ä¸ªæ•°,çˆ¶æ¯å­å¥³ä¸ªæ•°,èˆ¹ç¥¨ä¿¡æ¯,ç¥¨ä»·,å®¢èˆ±,ç™»èˆ¹æ¸¯å£
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

ä¹Ÿå¯ä»¥åŠ è½½ä¸Šä¸€èŠ‚è¯¾ä¿å­˜çš„"train_chinese.csv"æ–‡ä»¶ã€‚é€šè¿‡ç¿»è¯‘ç‰ˆtrain_chinese.csvç†Ÿæ‚‰äº†è¿™ä¸ªæ•°æ®é›†ï¼Œç„¶åæˆ‘ä»¬å¯¹trian.csvæ¥è¿›è¡Œæ“ä½œ
#### 1.4.3 ä»»åŠ¡ä¸‰ï¼šæŸ¥çœ‹DataFrameæ•°æ®çš„æ¯åˆ—çš„é¡¹

In [6]:
#å†™å…¥ä»£ç 
df.columns

Index(['ä¹˜å®¢ID', 'æ˜¯å¦å¹¸å­˜', 'ä»“ä½ç­‰çº§', 'å§“å', 'æ€§åˆ«', 'å¹´é¾„', 'å…„å¼Ÿå§å¦¹ä¸ªæ•°', 'çˆ¶æ¯å­å¥³ä¸ªæ•°', 'èˆ¹ç¥¨ä¿¡æ¯',
       'ç¥¨ä»·', 'å®¢èˆ±', 'ç™»èˆ¹æ¸¯å£'],
      dtype='object')

#### 1.4.4ä»»åŠ¡å››ï¼šæŸ¥çœ‹"cabin"è¿™åˆ—çš„æ‰€æœ‰é¡¹ [æœ‰å¤šç§æ–¹æ³•]

In [7]:
#å†™å…¥ä»£ç 
df.å®¢èˆ±.head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: å®¢èˆ±, dtype: object

In [8]:
#å†™å…¥ä»£ç 
df['å®¢èˆ±'].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: å®¢èˆ±, dtype: object

#### 1.4.5 ä»»åŠ¡äº”ï¼šåŠ è½½æ–‡ä»¶"test_1.csv"ï¼Œç„¶åå¯¹æ¯”"train.csv"ï¼Œçœ‹çœ‹æœ‰å“ªäº›å¤šå‡ºçš„åˆ—ï¼Œç„¶åå°†å¤šå‡ºçš„åˆ—åˆ é™¤
ç»è¿‡æˆ‘ä»¬çš„è§‚å¯Ÿå‘ç°ä¸€ä¸ªæµ‹è¯•é›†test_1.csvæœ‰ä¸€åˆ—æ˜¯å¤šä½™çš„ï¼Œæˆ‘ä»¬éœ€è¦å°†è¿™ä¸ªå¤šä½™çš„åˆ—åˆ å»

In [9]:
#å†™å…¥ä»£ç 
test1 = pd.read_csv('./train.csv')
test1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
#å†™å…¥ä»£ç 
del test1['a']
test1.head()

KeyError: 'a'

ã€æ€è€ƒã€‘è¿˜æœ‰å…¶ä»–çš„åˆ é™¤å¤šä½™çš„åˆ—çš„æ–¹å¼å—ï¼Ÿ

In [1]:
# æ€è€ƒå›ç­”
test1.drop('a',axis=1)   #ä¸æ›´æ”¹åŸæ•°æ®

test1.drop('a',axis=1,inplace=true) #æ›´æ”¹

#### 1.4.6 ä»»åŠ¡å…­ï¼š å°†['PassengerId','Name','Age','Ticket']è¿™å‡ ä¸ªåˆ—å…ƒç´ éšè—ï¼Œåªè§‚å¯Ÿå…¶ä»–å‡ ä¸ªåˆ—å…ƒç´

In [9]:
df.head(3)

,ä¹˜å®¢ID,æ˜¯å¦å¹¸å­˜,ä»“ä½ç­‰çº§,å§“å,æ€§åˆ«,å¹´é¾„,å…„å¼Ÿå§å¦¹ä¸ªæ•°,çˆ¶æ¯å­å¥³ä¸ªæ•°,èˆ¹ç¥¨ä¿¡æ¯,ç¥¨ä»·,å®¢èˆ±,ç™»èˆ¹æ¸¯å£
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
#å†™å…¥ä»£ç 
df.drop(['ä¹˜å®¢ID','å§“å','å¹´é¾„','èˆ¹ç¥¨ä¿¡æ¯'],axis=1)
df.head()

,ä¹˜å®¢ID,æ˜¯å¦å¹¸å­˜,ä»“ä½ç­‰çº§,å§“å,æ€§åˆ«,å¹´é¾„,å…„å¼Ÿå§å¦¹ä¸ªæ•°,çˆ¶æ¯å­å¥³ä¸ªæ•°,èˆ¹ç¥¨ä¿¡æ¯,ç¥¨ä»·,å®¢èˆ±,ç™»èˆ¹æ¸¯å£
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

ã€æ€è€ƒã€‘å¯¹æ¯”ä»»åŠ¡äº”å’Œä»»åŠ¡å…­ï¼Œæ˜¯ä¸æ˜¯ä½¿ç”¨äº†ä¸ä¸€æ ·çš„æ–¹æ³•(å‡½æ•°)ï¼Œå¦‚æœä½¿ç”¨ä¸€æ ·çš„å‡½æ•°å¦‚ä½•å®Œæˆä¸Šé¢çš„ä¸åŒçš„è¦æ±‚å‘¢ï¼Ÿ

ã€æ€è€ƒå›ç­”ã€‘

å¦‚æœæƒ³è¦å®Œå…¨çš„åˆ é™¤ä½ çš„æ•°æ®ç»“æ„ï¼Œä½¿ç”¨inplace=Trueï¼Œå› ä¸ºä½¿ç”¨inplaceå°±å°†åŸæ•°æ®è¦†ç›–äº†ï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰ç”¨

### 1.5 ç­›é€‰çš„é€»è¾‘

è¡¨æ ¼æ•°æ®ä¸­ï¼Œæœ€é‡è¦çš„ä¸€ä¸ªåŠŸèƒ½å°±æ˜¯è¦å…·æœ‰å¯ç­›é€‰çš„èƒ½åŠ›ï¼Œé€‰å‡ºæˆ‘æ‰€éœ€è¦çš„ä¿¡æ¯ï¼Œä¸¢å¼ƒæ— ç”¨çš„ä¿¡æ¯ã€‚

ä¸‹é¢æˆ‘ä»¬è¿˜æ˜¯ç”¨å®æˆ˜æ¥å­¦ä¹ pandasè¿™ä¸ªåŠŸèƒ½ã€‚

#### 1.5.1 ä»»åŠ¡ä¸€ï¼š æˆ‘ä»¬ä»¥"Age"ä¸ºç­›é€‰æ¡ä»¶ï¼Œæ˜¾ç¤ºå¹´é¾„åœ¨10å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯ã€‚

In [11]:
#å†™å…¥ä»£ç 
df[df["å¹´é¾„"]<10].head()

,ä¹˜å®¢ID,æ˜¯å¦å¹¸å­˜,ä»“ä½ç­‰çº§,å§“å,æ€§åˆ«,å¹´é¾„,å…„å¼Ÿå§å¦¹ä¸ªæ•°,çˆ¶æ¯å­å¥³ä¸ªæ•°,èˆ¹ç¥¨ä¿¡æ¯,ç¥¨ä»·,å®¢èˆ±,ç™»èˆ¹æ¸¯å£
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C

#### 1.5.2 ä»»åŠ¡äºŒï¼š ä»¥"Age"ä¸ºæ¡ä»¶ï¼Œå°†å¹´é¾„åœ¨10å²ä»¥ä¸Šå’Œ50å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯æ˜¾ç¤ºå‡ºæ¥ï¼Œå¹¶å°†è¿™ä¸ªæ•°æ®å‘½åä¸ºmidage

In [18]:
#å†™å…¥ä»£ç 
midage = df[(df["å¹´é¾„"]>10)&(df["å¹´é¾„"]<50)]
midage.head()
midage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 0 to 890
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ä¹˜å®¢ID    576 non-null    int64
 1   æ˜¯å¦å¹¸å­˜    576 non-null    int64
 2   ä»“ä½ç­‰çº§    576 non-null    int64
 3   å§“å      576 non-null    object
 4   æ€§åˆ«      576 non-null    object
 5   å¹´é¾„      576 non-null    float64
 6   å…„å¼Ÿå§å¦¹ä¸ªæ•°  576 non-null    int64
 7   çˆ¶æ¯å­å¥³ä¸ªæ•°  576 non-null    int64
 8   èˆ¹ç¥¨ä¿¡æ¯    576 non-null    object
 9   ç¥¨ä»·      576 non-null    float64
 10  å®¢èˆ±      138 non-null    object
 11  ç™»èˆ¹æ¸¯å£    575 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 58.5+ KB

ã€æç¤ºã€‘äº†è§£pandasçš„æ¡ä»¶ç­›é€‰æ–¹å¼ä»¥åŠå¦‚ä½•ä½¿ç”¨äº¤é›†å’Œå¹¶é›†æ“ä½œ

#### 1.5.3 ä»»åŠ¡ä¸‰ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100è¡Œçš„"Pclass"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [27]:
#å†™å…¥ä»£ç 
midage = midage.reset_index(drop=True)
midage.loc[[100],['ä»“ä½ç­‰çº§','æ€§åˆ«']]

     ä»“ä½ç­‰çº§    æ€§åˆ«
100     2  male

ã€æ€è€ƒã€‘è¿™ä¸ªreset_index()å‡½æ•°çš„ä½œç”¨æ˜¯ä»€ä¹ˆï¼Ÿå¦‚æœä¸ç”¨è¿™ä¸ªå‡½æ•°ï¼Œä¸‹é¢çš„ä»»åŠ¡ä¼šå‡ºç°ä»€ä¹ˆæƒ…å†µï¼Ÿ

- ä½¿ç”¨reset_index()å‡½æ•°èƒ½å¤Ÿåˆ é™¤åŸå…ˆçš„ç´¢å¼•ï¼Œé‡æ–°å»ºç«‹ã€‚è‹¥ä¸åˆ é™¤ï¼Œä¼šæŒ‰ç…§åŸå…ˆçš„ç´¢å¼•è¿›è¡Œæ£€ç´¢ã€‚

#### 1.5.4 ä»»åŠ¡å››ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [28]:
#å†™å…¥ä»£ç 
midage.loc[[100,105,108],["ä»“ä½ç­‰çº§","å§“å","æ€§åˆ«"]]

     ä»“ä½ç­‰çº§                                 å§“å    æ€§åˆ«
100     2  Byles, Rev. Thomas Roussel Davids  male
105     3           Cribb, Mr. John Hatfield  male
108     3                    Calic, Mr. Jovo  male

ã€æç¤ºã€‘ä½¿ç”¨pandasæå‡ºçš„ç®€å•æ–¹å¼ï¼Œä½ å¯ä»¥çœ‹çœ‹locæ–¹æ³•

å¯¹æ¯”æ•´ä½“çš„æ•°æ®ä½ç½®ï¼Œä½ æœ‰å‘ç°ä»€ä¹ˆé—®é¢˜å—ï¼Ÿé‚£ä¹ˆå¦‚ä½•è§£å†³ï¼Ÿ

#### 1.5.5 ä»»åŠ¡äº”ï¼šä½¿ç”¨ilocæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [29]:
#å†™å…¥ä»£ç 
midage.iloc[[100,105,108],[2,3,4]]

     ä»“ä½ç­‰çº§                                 å§“å    æ€§åˆ«
100     2  Byles, Rev. Thomas Roussel Davids  male
105     3           Cribb, Mr. John Hatfield  male
108     3                    Calic, Mr. Jovo  male